<a href="https://colab.research.google.com/github/Ana138/data_mining_aplicada/blob/main/tratando_dados_nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create feature matrix
X = np.array([[1, 2], 
              [6, 3], 
              [8, 4], 
              [9, 5], 
              [np.nan, 4]])

In [ ]:
X

array([[ 1.,  2.],
       [ 6.,  3.],
       [ 8.,  4.],
       [ 9.,  5.],
       [nan,  4.]])

In [ ]:
print(type(X))

<class 'numpy.ndarray'>

In [ ]:
X[~np.isnan(X).any(axis=1)]

array([[1., 2.],
       [6., 3.],
       [8., 4.],
       [9., 5.]])

In [ ]:
# Load data as a data frame
df = pd.DataFrame(X, columns=['feature_1', 'feature_2'])

# Remove observations with missing values
df.dropna()

   feature_1  feature_2
0        1.0        2.0
1        6.0        3.0
2        8.0        4.0
3        9.0        5.0